
@{
    ViewBag.Title = "Index";
}

<h2>Table details</h2>


<table class="table">
    <thead>
        <tr>
            <th>ContactId</th>
            <th>ContactName</th>
            <th>ContactNo</th>
        </tr>
    </thead>

    <tbody id="tblInfo">

    </tbody>

</table>